

.heading
{
    font-size:  23px;
    width: 100%;
   margin :0px;
   box-shadow: 5px 5px 5px grey;
}
 
.note 
{
    font-size: 10px;
    color: black;
}

.copy_right_footer
{
    position: fixed;
    color:   #f0b2dd;
    bottom: 0;
    width: 100%;
    background-color: #87acbb;
    line-height: 3;
    text-align: center;
}

canvas 
{
    border: 10px solid  #ff9966 (0, 0, 0, 0.687);
    border-radius: 20px;
    box-shadow: 8px 8px 8px   #ffa887;
}